.floatingActionBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 980 !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-top: solid 1px var(--bs-border-color, #bbb);
    background-color: var(--bs-body-bg, #fff);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}